
@{
    ViewBag.Title = "About us";
}

<div style="width:100%;height:50px;"> hh </div>
<div class="row">
    <div class="col-lg-4">
        <br />
        <h4> project</h4>
        <div>this is a simple ecommerce website for my .NET evaluation.</div>



    </div>

    <div class="col-lg-8">
        <br />
        <h4>Technologies used</h4>

        <span class="label label-success">ASP .NET MVC </span>
        <span class="label label-success">HTML5</span>
        <span class="label label-success">CSS3</span>
        <span class="label label-success">Javascript</span>
        <span class="label label-success">JQuery</span>
        <span class="label label-success">Bootstrap</span>
        <span class="label label-success">MS SQL Server</span>
        
    </div>

</div>

